<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script type="text/javascript">
      
      Highcharts.chart('container', {
          chart: {
              type: 'column'
          },
          title: {
              text: 'LEADERSHIP - Developing and Inspiring Others'
          },
          xAxis: {
              categories: [
                  'Region I',
                  'Region II',
                  'Region III',
                  'Region IV'
              ],
              crosshair: true
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Score'
              },
              max: 4
          },
          tooltip: {
              headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
              pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                  '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
              footerFormat: '</table>',
              shared: true,
              useHTML: true
          },
          plotOptions: {
              column: {
                  pointPadding: 0.2,
                  borderWidth: 0
              }
          },
          series: [{
              name: 'Delegation/Managing Assignments to Ensure',
              data: [1, 2, 3, 4]

          }, {
              name: 'Providing Instructions and Guidance',
              data: [2, 2, 3, 1]

          }, {
              name: 'Ensuring Staff Growth by Giving Feedback on Strengths and OFI',
              data: [4, 3, 4, 2]

          }, {
              name: 'Providing Motivation/Rewards',
              data: [4, 3, 4, 2]

          }]
      });
    </script>