.collapsible li.disabled .collapsible-body {
    display: none !important; /*or using id of the app to avoid the use of !important*/
}

.collapsible li.disabled .collapsible-header {
    background: rgb(221,221,221);
}

.collapsible li.disabled a {
    color: rgb(169,169,169);
}

nav {
    height: 50px;
    line-height: 50px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 50px;
    line-height: 50px;
}

nav .button-collapse i {
    height: 50px;
    line-height: 50px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 50px;
        line-height: 50px;
    }
}

span.badge {
  margin-top: 6%;
}

.required {
  color: red;
}

.btn {
  font-size: 16px;
}

.sidebar {
    min-height: 290px;
    width: auto;
    position: relative;
}

.sidebar .collapsible {
  margin: 0;
}

.sidebar li {
  float: none;
  line-height: 48px;
}

.sidebar li.active {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidebar li > a {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
  overflow: hidden;
}

.sidebar .collapsible-body {
  padding: 0;
  margin-left: 32px
}

.table {
    display: table;
    background: white;
    width: 100%;
    font-size: 16px;
    overflow: hidden;
    overflow-x: scroll;
}

.body {
    min-height: 400px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table .row {
    display: table-row;
}

.table .cell {
    display: table-cell;
    padding-left: 25px;
    padding-right: 25px;
}

table.with-border th, table.with-border tr, table.with-border td {
    border: 1px solid black;
}

#supervisor-section, #designation {
  display: none;
}

#designation.show, #report.show {
  display: block;
}

#selectCompetency, #selectContext {
  display: none;
}

table.modal-table, table.modal-table td {
  border: none;
}

label {
  color: #282828;
}

.box {
  width: 200px ;
}

.rating {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
  border: 1px solid #000;
  box-sizing: border-box;
  background: linear-gradient(to right, #f00, #ff0, #0f0);
}

.rating input {
  display: none;
}

.rating label {
  display: block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  background: #fff;
  color: #000;
  border-right: 1px solid #000;
}

.rating input[type="radio"]:hover ~ label,
.rating input[type="radio"]:checked ~ label {
  background: transparent;
}

@media screen {
  .print-only, .print-only *
  {
    display: none !important;
  }

  .hidden {
    display: none;
  }
  
}

@media print {
  table {
    border-collapse: collapse;
  }
  
  nav, footer {
    display: none;
  }

  .no-print, .no-print *
  {
    display: none !important;
  }

  .print-only, .print-only *
  {
    display: block !important;
  }

  .print-right{
    position: fixed;
    right: 35px;
  }

  .print-left{
    position: fixed;
    left: 35px;
  }

  .print-header{
    font-size: 20pt;
  }

  textarea {
    border: none;
    background: transparent;
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
  }

  input {
    border: none;
    background: transparent;
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
  }

  span, button {
    display: none;
  }

  ul {
    list-style-type: none;
  }
}


